<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demologindb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.demo.servlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userservlet</display-name>
    <servlet-name>userservlet</servlet-name>
    <servlet-class>com.demo.servlet.userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userservlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminservlet</display-name>
    <servlet-name>Adminservlet</servlet-name>
    <servlet-class>com.demo.servlet.Adminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminservlet</servlet-name>
    <url-pattern>/Adminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regestrationservlet</display-name>
    <servlet-name>regestrationservlet</servlet-name>
    <servlet-class>com.demo.servlet.regestrationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regestrationservlet</servlet-name>
    <url-pattern>/regestrationservlet</url-pattern>
  </servlet-mapping>
</web-app>